{% extends "master.html" %} {% block content %}
<div class="main">
    <div class="quirky-bg" style="background-image: url(/media/default_pattern.png)">
    </div>
    <nav class="fixed">
        <div class="max-width-container">
            <a href="/" class="logo">
                <img src="/media/logo.png" alt="U9H Logo" />
            </a>
            <div class="links">
                {% for item in config.extra.menu %}
                <a href="{{ item.url }}">
                    {{ item.name }}
                </a>
                {% endfor %}
            </div>
        </div>
    </nav>
{% endblock content %}